<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ProdAnalysisNew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.db.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.db.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pdf</display-name>
    <servlet-name>pdf</servlet-name>
    <servlet-class>pdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdf</servlet-name>
    <url-pattern>/pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.db.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1Servlet</display-name>
    <servlet-name>Test1Servlet</servlet-name>
    <servlet-class>com.db.Test1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1Servlet</servlet-name>
    <url-pattern>/Test1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddDatabase</display-name>
    <servlet-name>ProductAddDatabase</servlet-name>
    <servlet-class>com.db.ProductAddDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddDatabase</servlet-name>
    <url-pattern>/ProductAddDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductsCon</display-name>
    <servlet-name>AddProductsCon</servlet-name>
    <servlet-class>com.db.AddProductsCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductsCon</servlet-name>
    <url-pattern>/AddProductsCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductConn</display-name>
    <servlet-name>UpdateProductConn</servlet-name>
    <servlet-class>com.db.UpdateProductConn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductConn</servlet-name>
    <url-pattern>/UpdateProductConn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.db.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New</display-name>
    <servlet-name>New</servlet-name>
    <servlet-class>com.db.New</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New</servlet-name>
    <url-pattern>/New</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPDFServlet</display-name>
    <servlet-name>ProductPDFServlet</servlet-name>
    <servlet-class>com.db.ProductPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPDFServlet</servlet-name>
    <url-pattern>/ProductPDFServlet</url-pattern>
  </servlet-mapping>
</web-app>